/*auth admin page*/
.auth_page {
	background: url(../img/bg-auth2.jpg) 0 0 no-repeat;
	height: 100vh;
	background-size: cover;
	font-size: 14px;
}

.wrapper {
	width: 1280px;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}

.auth-container {
	display: inline-block;
	margin-top: 75px;
	background: #fff;
	width: 50%;
	border-radius: 20px;
	padding: 25px;
	text-align: left;
}

.form__item {
	margin: 15px 0;
	width: 100%;
}

.auth-label {
	display: inline-block;
	font-weight: 700;
	width: 20%;
}

.auth-input {
	width: 75%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}

.auth-input:focus {
    border-color: #66afe9;
    outline: 0;
}

.auth-btn {
	margin-left: 21%;
}

/*ADMIN PANEL*/
/*admin panel header*/
.header__items {
	width: 100%;
	font-size: 14px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.panel-name {
	font-size: 18px;
	text-align: center;
	width: 230px;
}

.header__item_menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu_item {
	margin: 0 20px;
}

.header__menu_item a {
	text-decoration: none;
	margin: 0 5px;
}

/*admin panel sidebar and main*/
.main {
	display: flex;
	justify-content: center;
	height: 100vh;
}

.main-sidebar {
	width: 230px;
	display: inline-block;
	text-align: left;
}

.main-sidebar a {
	text-decoration: none;
}

.sidebar__item {
	padding: 8px 20px;
}

.sidebar__item span {
	margin-left: 10px;
}

.main-footer {
	height: 40px;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*main*/
.content-header {
	padding: 15px;
	text-align: left;
}

.content-header h2 {
	margin: 0;
}

.header-controls {
	margin-top: 15px;
}

.content-wrapper {
	width: 1050px;
}

.content-main {
	padding: 15px;
}

.entities__list {
	text-align: left;
	width: 100%;
}

.entities__list th {
	font-weight: 700;
	font-size: 15px;
}

.entities__list th,
.entities__list td {
	border: 1px solid #e9e9e9;
	padding: 5px 3px;
}