/*auth admin page*/
.auth_page {
	background: url(../img/bg-auth2.jpg) 0 0 no-repeat;
	height: 100vh;
	background-size: cover;
	font-size: 14px;
	text-align: center;
}

.wrapper {
	width: 1280px;
	overflow: hidden;
	margin: 0 auto;
}

.auth-container {
	display: inline-block;
	margin-top: 75px;
	background: #fff;
	width: 50%;
	border-radius: 20px;
	padding: 25px;
	text-align: left;
}

.form__item {
	margin: 15px 0;
	width: 100%;
}

.auth-label {
	display: inline-block;
	font-weight: 700;
	width: 20%;
}

.auth-input {
	width: 75%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}

.auth-input:focus {
    border-color: #66afe9;
    outline: 0;
}

.auth-btn {
	margin-left: 21%;
}

/*ADMIN PANEL*/
/*admin panel header*/
.mt_25 {
	margin-top: 25px;
}

.w100 {
	width: 100%;
}

.header__items {
	width: 100%;
	font-size: 14px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.panel-name {
	font-size: 18px;
	text-align: center;
	width: 230px;
}

.header__item_menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu_item {
	margin: 0 20px;
}

.header__menu_item a {
	text-decoration: none;
	margin: 0 5px;
	padding: 20px 0;
}

.panel-name a {
	padding: 0;
	margin: 0;
	font-size: 22px;
	text-decoration: none;
}

/*admin panel sidebar and main*/
.main {
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

.main-sidebar {
	width: 230px;
	display: inline-block;
	text-align: left;
}

.main-sidebar a {
	text-decoration: none;
}

.sidebar__item {
	padding: 8px 20px;
}

.group__header span,
.sidebar__item span {
	margin-left: 10px;
}

.group__header {
	background: #121516;
	opacity: 0.9;
	padding: 12px 20px;
}

.group__btn {
	display: inline-block;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	position: relative;
}

.group__btn::before {
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 8px;
	right: -20px;
	background: url('../img/arrow_down.svg') center no-repeat;
	background-size: contain;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.group__header.close_group .group__btn::before {
	background: url('../img/arrow_down.svg') center no-repeat;
	background-size: contain;
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.group__content {
	display: block;
}

.main-footer {
	height: 40px;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}

/*main*/
.content-header {
	padding: 15px;
	text-align: left;
}

.content-header h2 {
	margin: 0;
}

.header-controls {
	margin-top: 15px;
}

.content-wrapper {
	width: 1050px;
}

.content-main {
	padding: 15px;
}

.entities__list {
	text-align: left;
	width: 100%;
}

.entities__list th {
	font-weight: 700;
}

.entities__list th,
.entities__list td {
	font-size: 12px;
	padding: 5px 10px;
}

.entities__list th:last-child {
	font-weight: 700;
}

.entities__list td img {
	width: 100px;
	max-height: 100px;
}

.controls {
	text-align: center;
	width: 140px;
}

.control__item {
	display: inline-block;
}

.form-error {
	font-size: 12px;
	margin-top: 5px;
}

.form-control_checkbox {
	display: block;
	height: 15px;
	width: 15px;
}

.help__block {
	font-size: 11px;
	margin-top: -10px;
}

.form-check-inline {
	display: inline-flex;
	align-items: center;
	padding-left: 0px;
	margin-right: 15px;
}

.form-group_block label {
	display: block;
}

.form-group_block .form-check-input {
	margin-bottom: 8px;
	margin-right: 4px;
}

.ck-editor__editable_inline {
	min-height: 300px;
}

.header__menu_user {
	position: relative;
}

.user__drop {
	display: none;
	position: absolute;
	content: '';
	bottom: -105px;
	left: -40px;
	padding: 15px;
	width: 130px;
}

.header__menu_user:hover .user__drop {
	display: block;
}

.child_page {
	padding-left: 30px!important;
}

.localization__block {
	display: inline-block;
	width: 100%;
	text-align: right;
}

.localization__item {
	display: inline-block;
	margin-right: 10px;
	position: relative;
}

.localization__item:last-child {
	margin-right: 0;
}

.localization__link {
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
}

.localization__item:after {
	content: '|';
	position: absolute;
	top: 0;
	right: -9px;
}

.localization__item:last-child:after {
	content: '';
}

.localization__link_act {
	font-weight: 600;
}
/*image and form field*/
.file__field,
.image__field {
	margin-bottom: 25px;
}

.file__block {
	padding: 5px 10px;
}

.image__field .image__block img {
	max-width: 100%;
	display: block;
}

.image__block {
	position: relative;
	width: 70%;
}

.file__block {
	position: relative;
}

.del-img {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	background-size: 15px;
	opacity: 0.5;
	padding: 15px;
	border-radius: 5px;
	cursor: pointer;
}

.del-file:hover,
.del-img:hover,
.download-file:hover {
	opacity: 1;
}

.file__name {
	opacity: 0.7;
}

.del-file {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20px;
	height: 20px;
	background-size: 15px;
	padding: 15px;
	cursor: pointer;
}

.download-file {
	position: absolute;
	top: 0px;
	right: 30px;
	width: 12px;
	height: 20px;
	background-size: 12px;
	padding: 15px;
	cursor: pointer;
}

/*multi images*/
.multi-images__field,
.multi-files__field {
	width: 100%;
	padding: 15px;
	margin-bottom: 15px;
}

.multi-images__form input[type="file"] {
	display: none;
	/*opacity: 0.1;*/
}

.multi-images__items {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}

.multi-images__item {
	max-width: 30%;
	margin: 5px 5px;
	position: relative;
}

.multi-images__item img {
	width: 100%;
}

.multi-files__form {
	display: flex;
	justify-content: space-between;
}

.multi-files__form-change {
	display: none;
	justify-content: flex-start;
}

.multi-files__form-item {
	width: 38%;
}

.multi-files__form-change .multi-files__form-item:first-child {
	margin-right: 20px;
}

.multi-files__form-item:last-child {
	width: 20%;
}

.loading__multi-images {
	position: relative;
	top: 15px;
	display: none;
}

.files-list__items {
	width: 100%;
}

.files-list__item {
	display: flex;
	align-items: stretch;
	width: 100%;
}

.files-list__item:first-child {
	font-weight: 700;
}

.files-list__block {
	font-size: 12px;
	padding: 5px 10px;
}

.files-list__name {
	flex-grow: 1;
	width: 40%;
}

.files-list__size {
	flex-grow: 0;
	width: 10%;
}

.files-list__controls {
	flex-grow: 0;
	width: 140px;
	display: flex;
	justify-content: space-around;
}

.import_form {
	display: none;
	margin-top: 25px;
}